
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
}



.user-info img {
    max-height: 50px;
    border-radius: 50%;
}

.user-avatar img {
    height: 80px;
    border-radius: 50%;
}



.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: 1 / 2 / 2 / 5;
    background: white;
    box-shadow: 10px 5px 5px grey;
}



.wrapper-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-function {
    display: flex;
    gap: 16px;
}


::placeholder{color: white; padding-left: 15px;} #site-search {
    background-color: rgb(211, 211, 211);
    width: 500px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    color: white;
}

.user-info .user-name {
    font-size: 1.25rem;
    font-weight: 700;
}

#search-function button {
    background-color:rgb(26, 178, 238);
    border-radius: 10px;
    color: white;
    border: none;
    width: 75px;
    height: 30px;
    font-size: 1rem;
    font-weight: 600

}


.user-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 6px;
}


.wrapper-below {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 7.5px 0px;
}

.user-greet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#share {
    display: flex;
    gap: 32px;
}

#share button {
    background-color: rgb(26, 178, 238);
    color: white;
    height: 45px;
    width: 100px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}



.side-nav {
    display: grid;
    grid-area: 1 / 1 / 5 / 2;
    background-color: rgb(26, 178, 238);
    color: white;
    font-size: 1.25rem;
    font-weight: 900;
}


li img {
   max-height: 40px;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dashboard img{
    max-height: 500px;
}

.side-nav li {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}


.projects {
    background-color: rgba(211, 211, 211, 0.623);
    display: grid;
    grid-area: 2 / 2 / 5 / 4 ;
    
}

.projects .project-title:nth-child(1) {
    margin-left: 30px;
}

.project-title {
    position: absolute;
    font-weight: 900;
    font-size: 1.25rem
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 64px 24px 24px 24px;
    
}

.icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 2px 10px;
}

.icons img {
    background:rgba(211, 211, 211, 0.823);
    max-height: 35px;
    margin: 2px;
    border-radius: 8px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
    background-color: red;
}


.card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    border-radius: 15px;
    margin: 0px;
    box-shadow: 2px 2px 5px gray;
    border-left: 7.5px solid gold;
}

.card p {
    flex:1;
    display: flex;
    margin: 0px;
    padding: 20px;
}


.announcements {
    display: grid;
    grid-area: 2 / 4 / 3 / 5;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    background-color: rgba(211, 211, 211, 0.623);
}

.tittle {
    font-weight: 600px;
}


.announcement { 
    background-color: white;
    margin: 64px 24px 0px 0px;
    border-radius: 15px;
    font-size: .9rem;
    box-shadow: 2px 2px 5px gray;
}


.announcement ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin: 0px;

}

.announcement li {
    list-style-type: none;
}

.site-maintenance {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.announcement p {
    margin: 2px;
}

.tittle {
    font-weight: 900;
}

.trending {
    background-color:rgba(211, 211, 211, 0.623);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 1fr);
}

.trending-content {
    background: white;
    margin: 64px 24px 24px 0px;
    border-radius: 15px;
    font-size: .75rem;
    box-shadow: 2px 2px 5px gray;
}

.trending-content img {
    max-height: 65px;
    border-radius: 50%;
}


.trending-content li {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
